body
{
    background-color: rgb(170, 204, 248);
}
h1{
    color: yellowgreen;
    background-color: black;
    max-width: 500px;
    font-family: "Tiny5";
    font-size: 35px;
    text-align: center;
    margin: auto;
}

.calculator{
    background-color: rgb(83, 81, 81);
    max-width: 343px;
    height: 662px;
    margin: auto;
    box-shadow: 0 0 35px #fff;
    border-radius: 35px;
}

.calculator .screen{
    color: white;
    background-color: rgb(68, 67, 67);
    max-width: 500px;
    height: 250px;
    border-top-left-radius:35px ;
    border-top-right-radius: 35px;
    text-align: center;

}

.calculator .content-keyboard{
    background-color:transparent;
    margin: 0;
    max-width: 300px;
    height: 428px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 1px;
}
.calculator .content-keyboard .keyboard-section{
    background-color:transparent;
    width: 248px;
    height: 330px;
    margin: 1px;
    flex-flow: column;

}
.calculator .content-keyboard  button{
    background-color: gray;
    border: 1px solid rgb(211, 84, 84);
    width: 80px;
    height: 80px;
    margin: 1px 0px;
    padding: 0px;
}
.calculator .section-btn{
    width: 80px;
    display: grid;
    flex-flow: column;
    background-color:transparent;
    margin-left: 253px;
    margin-top: -331px;
}
.calculator .content-keyboard .section-btn button{
    background-color: rgb(177, 117, 164);
    border: 1px solid rgb(211, 84, 84);
    width: 80px;
    height: 80px;
    margin: 1px;
    padding: 0px;
    }

    .calculator .content-keyboard .section-btn .btn-equal{
        height: 161px;
        border-bottom-right-radius: 35px;
    }
    .calculator .content-keyboard .keyboard-section .btn-spot{
        border-bottom-left-radius: 35px;
    }







