*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;

}
header{
    background-color: rgba(86, 134, 238, 0.836);
}
.hero{
    background-color: rgb(124, 190, 245);
    padding: 30px 10px;
}
.caracteristicas{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}
.caracteristica{
    background-color: red;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}
.contacto{
    background-color: greenyellow;
    padding: 30px 10px;
}
footer{
    background-color:grey;
}

@media (max-width:600px) {
    .caracteristicas{
        flex-direction: column;
    }
    
}
