@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh; 
    background-color: rgb(170, 204, 248);
    display: grid;
    place-items: center;
    background-image: url(imagenes/fondo2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    width: 350px;
    height: auto;
    margin: 35px auto;
    text-align: justify;
}
h1{
    color: #ffff;
    font-size:18px;
    width: 100%;
    background-color: rgba(13, 172, 220, 0.677);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0px;
    text-transform: uppercase;

}
p{
    color: #fff;
    font-size: 12px;
    background-color: darkviolet;
    padding: 2px 3px;

}

.section-calculator{
    display: flex;
    background-color: rgb(94, 91, 91);
    border-radius: 1.5rem;
    height: auto;
    width: 280px;
    box-shadow:  0 0 10px #fff;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
}

.screen{
    color: #fff;
    font-size: 20px;
    height: 100px;
    background-color: rgba(13, 172, 220, 0.677);
    grid-column: 1/5;
    padding: 2.2rem;
    display: flex;
    align-items:center;
    justify-content: right;
    border-radius:  1.5rem; 
    margin: 8px;
    box-shadow:  0 0 10px #fff;
    max-height: 100;
    overflow-x:aut; 
}
.section-calculator .keyboard{
    background-color:transparent;
    color: #fff;
    max-width: 100%;
    height: 280px;
    padding: 1px;
    margin: 1px;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr );
    gap: 3px;
}
.section-calculator .calculator .keyboard .btn{
    color: #fff;
    background-color: darkviolet;
    border: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow:  0 0 5px gray;
}
.section-calculator .calculator .keyboard .btn--{
    color: #fff;
    background-color: gray;
    box-shadow: 0 0 5px darkviolet;
}
.section-calculator .calculator .keyboard #equal{
    grid-row: span 2;
    border-bottom-right-radius: 23px;
}
.section-calculator .calculator .keyboard .btn-point{
    border-bottom-left-radius: 21px;
}

.section-calculator .calculator .keyboard .btn--:hover{
    background-color:darkviolet ;
    box-shadow: #fff;
}

.section-calculator .calculator .keyboard .btn--1:hover{
    background-color: gray;
}
.section-calculator .calculator .keyboard button{
    border-radius: 4px;
}




